torch
matplotlib==3.9.2

# Shared requirements.
fire==0.6.0
datasets==2.21.0
transformers==4.44.0
accelerate==0.33.0
wandb==0.17.6
tensorboard==2.17.1
colorama==0.4.6
mambapy==1.2.0
einops==0.8.0
#mamba-ssm==2.2.2 # Mamba doesn't work on Raspberry Pi.
fairscale==0.4.13
onnx==1.15.0
onnxruntime==1.18.0

# Requirements you need when not installing xLSTM.
omegaconf==2.3.0
dacite==1.8.1

